In [2]:
# !pip install orion-ml

In [7]:
from orion import Orion
from orion.data import load_signal
from matplotlib import pyplot as plt

In [4]:


train_data = load_signal('S-1-train')
train_data.head()

    timestamp     value
0  1222819200 -0.366359
1  1222840800 -0.394108
2  1222862400  0.403625
3  1222884000 -0.362759
4  1222905600 -0.370746

In [5]:


hyperparameters = {
    'orion.primitives.aer.AER#1': {
        'epochs': 5,
        'verbose': True
    }
}

orion = Orion(
    pipeline='aer',
    hyperparameters=hyperparameters
)

orion.fit(train_data)

c:\Users\madalina.ciortan\AppData\Local\miniconda3\envs\3_11\Lib\site-packages\sklearn\impute\_base.py:356: FutureWarning: The 'verbose' parameter was deprecated in version 1.1 and will be removed in 1.3. A warning will always be raised upon the removal of empty columns in the future version.
  warnings.warn(

Epoch 1/5
34/34 [==============================] - 14s 167ms/step - loss: 0.4607 - tf.__operators__.getitem_loss: 0.4671 - tf.__operators__.getitem_1_loss: 0.4613 - tf.__operators__.getitem_2_loss: 0.4532 - val_loss: 0.4374 - val_tf.__operators__.getitem_loss: 0.4169 - val_tf.__operators__.getitem_1_loss: 0.4461 - val_tf.__operators__.getitem_2_loss: 0.4405
Epoch 2/5
34/34 [==============================] - 4s 110ms/step - loss: 0.4262 - tf.__operators__.getitem_loss: 0.4279 - tf.__operators__.getitem_1_loss: 0.4254 - tf.__operators__.getitem_2_loss: 0.4261 - val_loss: 0.4249 - val_tf.__operators__.getitem_loss: 0.4131 - val_tf.__operators__.getitem_1_loss: 0.4280 - val_tf.__operators__.getitem_2_loss: 0.4304
Epoch 3/5
34/34 [==============================] - 4s 110ms/step - loss: 0.4152 - tf.__operators__.getitem_loss: 0.4141 - tf.__operators__.getitem_1_loss: 0.4169 - tf.__operators__.getitem_2_loss: 0.4129 - val_loss: 0.4144 - val_tf.__operators__.getitem_loss: 0.4012 - val_tf.__operators__.getitem_1_loss: 0.4217 - val_tf.__operators__.getitem_2_loss: 0.4131
Epoch 4/5
34/34 [==============================] - 4s 121ms/step - loss: 0.4084 - tf.__operators__.getitem_loss: 0.4035 - tf.__operators__.getitem_1_loss: 0.4158 - tf.__operators__.getitem_2_loss: 0.3985 - val_loss: 0.4105 - val_tf.__operators__.getitem_loss: 0.3938 - val_tf.__operators__.getitem_1_loss: 0.4200 - val_tf.__operators__.getitem_2_loss: 0.4081
Epoch 5/5
34/34 [==============================] - 4s 107ms/step - loss: 0.4054 - tf.__operators__.getitem_loss: 0.3945 - tf.__operators__.getitem_1_loss: 0.4171 - tf.__operators__.getitem_2_loss: 0.3929 - val_loss: 0.4087 - val_tf.__operators__.getitem_loss: 0.3886 - val_tf.__operators__.getitem_1_loss: 0.4209 - val_tf.__operators__.getitem_2_loss: 0.4044

In [9]:
anomalies = orion.detect(train_data)

85/85 [==============================] - 3s 16ms/step
85/85 [==============================] - 2s 18ms/step

In [13]:
anomalies

Empty DataFrame
Columns: [start, end, severity]
Index: []

In [11]:
new_data = load_signal('S-1-new')
anomalies = orion.detect(new_data)
anomalies

226/226 [==============================] - 6s 28ms/step
226/226 [==============================] - 3s 13ms/step

Empty DataFrame
Columns: [start, end, severity]
Index: []